<h1>Log In</h1>

<form class="" action="<%=session_url%>" method="post">
  <input id="Username" type="text" name="user[username]" value="">
  <input id="Password" type="password" name="user[password]" value="">
  <input type="submit" name="Sign In" value="Sign In">
</form>
